{% extends 'base2.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header %}
<h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="col-md-6">
    <form method="post">
        <label for="username">Username: </label> {{ current_user.username }}
        <p></p>
        <label for="password">Password</label>
        <input type="password" name="old_password" id="password" required>
        <p></p>
        <label for="password">New Password</label>
        <input type="password" name="new_password" id="password" required>
        <p></p>
        <label for="password">Password Confirmation</label>
        <input type="password" name="password_conf" id="password" required>
        <p></p>
        <input type="submit" value="Change Profile">
    </form>
</div>
<div class="col-md-6"></div>
{% endblock %}
