{% extends "base3.html" %}

{% block title %}Code Labhub{% endblock %}

{% block content %}
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Show Graph</h3>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User Graph</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <div class="userlist">
                        <img src="/{{ lab_name }}/practice/matplot/{{ username }}.png"
                            alt="random points as svg"
                            height="350"
                            id="statistic"
                            width="400"
                        >
                    </div>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Show User Graph</span>
                </button>
            </div>
        </nav>
        <div class="row">
            <div id='code-average'>
                <h4>{{ lab_name }}</h4>
                <h3 id="monitoring-user">{{ username }}</h3>
                {% for user, one_minute, three_minute, ten_minute in zip(users, ones_minute, threes_minute, tens_minute) %}
                    <div class="each-data" onclick="changeUser('{{ user.username }}')">{{ user.username }}  {{ one_minute }} / {{ three_minute }} / {{ten_minute }} </div>
                {% endfor %}
            </div>
            <div class="input-area">
                <textarea id="editor" name="code" class="code">{{ code }}</textarea>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

    });
    let flag = 1;
    let monitoringUser = "{{ username }}";

    var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
        mode: "text/x-csrc",
        theme: "dracula",
        lineNumbers: true,
        indentUnit: 4,
    })
    editor.setSize(550, 500);

    let username = "{{ username }}";
    let user_id = "{{ user_id }}";

    function changeUser(username) {
        monitoringUser = username;
        console.log(monitoringUser);
    }

    setInterval(function () {
        var html_body = $('#comment').val();
        var data = {
                username: username,
                user_id: user_id,
                monitoringUser: monitoringUser
                // TODO token을 이용해서 인증도 나중에 해야함
        }
        fetch(`${window.origin}/{{ lab_name }}/practice`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(data),
                cache: "no-cache",
                headers: new Headers({
                        "content-type": "application/json"
                })
        }).then(function (response) {
                if (response.status !== 200) {
                        console.log(`Looks like there was a problem. Status code: ${response.status}`);
                        return;
                }
                response.json().then(function (datas) {
                        for(var i=0; i<datas['users'].length; i++) {
                            document.getElementsByClassName("each-data")[i].innerHTML = `${datas['users'][i]} ${datas['ones_minute'][i]} / ${datas['threes_minute'][i]} / ${datas['tens_minute'][i]}`;
                        }
                        
                        let d = new Date();
                        console.log(`/{{ lab_name }}/practice/matplot/${monitoringUser}.png`)
                        $("#statistic").attr("src", `/{{ lab_name }}/practice/matplot/${monitoringUser}.png?`+d.getTime());
                        editor.setValue(datas['code']);
                        document.getElementById("monitoring-user").innerHTML = monitoringUser;
                });
        }).catch(function (error) {
                console.log("Fetch error: " + error);
        });
    }, 2000);

    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            // hide sidebar
            $('#sidebar').removeClass('active');
            // hide overlay
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            // open sidebar
            $('#sidebar').addClass('active');
            // fade in the overlay
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
    
</script>


{% endblock %}